/* Stylesheet */
.nav_btn {
  padding: 0px 21px 0px 21px;
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  color: var(--color-text-secondary);
  background: var(--primary-background-color);
  border: none;

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  .icon {
    font-size: 1.5rem;
    flex-shrink: 0;
  }

  .name {
    margin-left: 12px;
  }
}
